/* =========================================================
   All calculations are based off of Example-1.psd
   All Percentages calculated by ((px / container width) * 100)
   ========================================================= */
/* MIXINS
   ------------------------------------------- */
.upper {
  text-transform: uppercase;
}
/**** Orange Box Gradient ****/
.orange-box-gradient {
  background-image: linear-gradient(#ff8400, #e46c01);
}
/**** Purple Box Gradient ****/
.purple-box-gradient {
  background-image: linear-gradient(#7e00ff, #541198);
}
/* TYPOGRAPHY
   ------------------------------------------- */
body,
html {
  background: #fff;
  font-family: MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: normal;
}
h1 {
  font-size: 2.143em;
}
h1:first-letter {
  text-transform: uppercase;
}
.overlay h1 {
  white-space: nowrap;
  text-align: center;
  padding-bottom: 0.3313em;
}
p {
  font-size: 1.143em;
}
/* MAIN
   ------------------------------------------- */
/****** OVERLAY ******/
.dim {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 1025px) {
  .dim {
    height: 200%;
  }
}
.disappear {
  display: none;
}
.overlay-wrap {
  font-size: 1.376vw;
  background-color: #fff;
  max-width: 57.399103139013%;
  margin: 0 auto;
  z-index: 4;
  position: absolute;
  top: 17.124394184168%;
  right: -100%;
  -webkit-animation: slide 2s forwards;
          animation: slide 2s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes slide {
  100% {
    right: 19.394618834081%;
  }
}
@keyframes slide {
  100% {
    right: 19.394618834081%;
  }
}
.overlay-wrap .overlay {
  padding: 4.296875% 3.90625% 4.4921875%;
}
/****** BOXES ******/
.orange-box,
.gold-box {
  padding: 5.493273542601% 0;
  border: 0.071em solid #333333;
  position: relative;
}
.orange-box {
  background-image: linear-gradient(#ff8400, #e46c01);
}
.gold-box {
  padding: 5.605381165919% 0;
}
.red-box,
.black-box {
  padding: 7.0067264% 7.0067264%;
}
.red-box {
  background-color: #fc3a1b;
}
.black-box {
  background-color: #000000;
  position: relative;
}
.blue-box {
  background-color: #04b6f0;
  margin: .896860986547% 1.345291479821% 0 1.121076233184%;
  padding: 6.558295964126% 34.699%;
}
.green-box {
  background-color: #10ad00;
  margin-left: 3.811659192825%;
  margin-right: 4.260089686099%;
  padding: 7.0067264% 0;
}
.gold-box {
  background-color: #eddf02;
  position: relative;
}
.grey-box {
  background-color: #828282;
  padding: 7.0067264% 9.8094170403585%;
  position: relative;
  left: 9.529147982063%;
}
.maroon-box {
  background-color: #e1039a;
  margin-left: auto;
  padding: 7.0067264% 27.07399103139%;
  position: relative;
  right: 0;
}
.purple-box {
  background-image: linear-gradient(#7e00ff, #541198);
  padding: 22.141255605381% 7.0067264%;
  position: absolute;
  top: 17.932148626817%;
  left: 30.269058295964%;
}
/* LAYOUT
   ------------------------------------------- */
::-webkit-scrollbar {
  display: none;
}
.main-container {
  margin-top: 5.95703125%;
  margin-bottom: 8.69140625%;
}
.container-fluid {
  max-width: 87.11%;
  margin: 0 auto;
  position: relative;
}
.row {
  margin-bottom: 1.1210762%;
}
#row2,
#row5 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#row5 {
  margin-bottom: 0;
}
.gold-box,
.maroon-box {
  right: .448430493274%;
}
.black-box {
  right: .112107623318%;
}
.blue-box,
.gold-box {
  z-index: 2;
}
/****** Orange and Gold Boxes Hidden Corners ******/
.tl-corner,
.tr-corner,
.bl-corner,
.br-corner {
  background-color: #878787;
  display: inline-block;
  padding: .5px;
  position: absolute;
}
.tl-corner,
.tr-corner {
  top: -1px;
}
.tr-corner,
.br-corner {
  right: -1px;
}
.bl-corner,
.br-corner {
  bottom: -1px;
}
.tl-corner,
.bl-corner {
  left: -1px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}